.lightButton {
  font-family: 'Open Sans', sans-serif;
  width: 310px;
  height: 120px;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  align-items: center;
  background: white;
  font-weight: 300;
  border: 1px solid $gray-light;
  color: $gray-dark;
  transition-duration: 0.4s;
}

.lightButton:hover {
    background-color: $yellow;
    color: $gray-dark;
}