@import './settings/_reset.scss';
@import './settings/_fonts.scss';
@import './settings/_colors.scss';
@import 'partials/_navigation.scss';
@import './settings/_button.scss';
@import 'partials/_header.scss';
@import 'partials/_threeColumns';
@import 'partials/easySteps';

body {
  max-width: 1920px;
  font-family: $font-base;
  color: $gray-dark;
}